{% extends 'templates/main.html' %}
{% block content %}
{% load static %}
    <link rel='stylesheet' type="text/css" href="{% static 'individual_anime2.css' %}">
    <br>
    <br>
    <br>
    <br>
      <div class = 'individual_anime'>
          <h1>{{anime_example.name}}</h1>
          <img src = '{{anime_example.picture}}' alt = 'picture of anime' class='fade-in'>
          <div class = 'rating fade-in'><h3>Score: {{anime_example.score}}</h3></div>
          <div class = 'type fade-in'><p>Type: {{anime_example.type_1}}</p></div>
          <div class = 'release fade-in'><p>Release year: {{anime_example.releaseyear}}</p></div>
          <div class = 'endyear fade-in'><p>End year: {{anime_example.endyear}}</p></div>
          <div class = 'numofep fade-in'>Number of episodes: {{anime_example.numofep}}</div>
          {% if user.is_authenticated %}
            <form method = 'POST' action = ''>
              {% csrf_token %}
              {% if saw == False %}
              <label for="rating">Rate this anime:</label>
              <select name="rating" id="rating">
                <option value="5">5</option>
                <option value="4">4</option>
                <option value="3">3</option>
                <option value="2">2</option>
                <option value="1">1</option>
              </select>
              <input type="submit" name = 'submit' id='submit' value="Rate">
              {% else %}
              <input type="submit" name='delete' id='delete' value="Remove from favourites">
              <label for="rating">Change the rating:</label>
              <select name="rating" id="rating">
                <option value="5">5</option>
                <option value="4">4</option>
                <option value="3">3</option>
                <option value="2">2</option>
                <option value="1">1</option>
              </select>
              <input type="submit" id = 'Change' name='Change' value="Change Rating">
              {% endif %}
            </form>
          {% endif %}
          <div class = 'synopsis fade-in'>Synopsis: {{anime_example.synopsis}}</div>
      </div>


      <br>
      
      <div class="about-us fade-in" id = 'profile'>
        <h2>Contact us at: </h2>
        <p>anthonyhermanto1@gmail.com</p>
        <p>kaarthik4445556663@gmail.com</p>
      </div>

      <div class = 'footer'>
        <i class="fab fa-github" aria-hidden="true"></i>
        <i class="fab fa-google"></i>
        <i class="fab fa-twitter"></i>
      </div>
{% endblock %}