{% extends 'templates/main.html' %}
{% block content %}
{% load static %}
<link rel='stylesheet' type="text/css" href="{% static 'profile12.css' %}">

<div class="profile-container">
    {% for message in messages %}
        <div class="message">{{message}}</div>
    {% endfor %}

    <div class="profile-header">
        <div class="profile-info">
            <h1>Profile: {{user.username}}</h1>
            <div class="profile-details">
                <p><span>Bio:</span> {{user.profile.bio}}</p>
                <p><span>Birth Date:</span> {{user.profile.birth_date}}</p>
                <p><span>Location:</span> {{user.profile.location}}</p>
            </div>
            <a href="/update" class="edit-profile-btn">Edit Profile</a>
        </div>
    </div>

    <div class="tier-list-container">
        <h2>Anime Ratings</h2>
        <div class="tier-list">
            <div class="tier tier-5">
                <div class="tier-label">
                    <span>5</span>
                </div>
                <div class="tier-content">
                    {% for i in five %}
                        <div class="anime-thumbnail" onclick="window.location='/animes/{{i.id}}'">
                            <img src='{{i.picture}}' alt="{{i.name}}">
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="tier tier-4">
                <div class="tier-label">
                    <span>4</span>
                </div>
                <div class="tier-content">
                    {% for i in four %}
                        <div class="anime-thumbnail" onclick="window.location='/animes/{{i.id}}'">
                            <img src='{{i.picture}}' alt="{{i.name}}">
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="tier tier-3">
                <div class="tier-label">
                    <span>3</span>
                </div>
                <div class="tier-content">
                    {% for i in three %}
                        <div class="anime-thumbnail" onclick="window.location='/animes/{{i.id}}'">
                            <img src='{{i.picture}}' alt="{{i.name}}">
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="tier tier-2">
                <div class="tier-label">
                    <span>2</span>
                </div>
                <div class="tier-content">
                    {% for i in two %}
                        <div class="anime-thumbnail" onclick="window.location='/animes/{{i.id}}'">
                            <img src='{{i.picture}}' alt="{{i.name}}">
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="tier tier-1">
                <div class="tier-label">
                    <span>1</span>
                </div>
                <div class="tier-content">
                    {% for i in one %}
                        <div class="anime-thumbnail" onclick="window.location='/animes/{{i.id}}'">
                            <img src='{{i.picture}}' alt="{{i.name}}">
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
